body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.ticket {
    width: 400px;
    background-color: #ffe4c4;
    border: 3px dashed #d2691e;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ticketheader {
    text-align: center;
    border-bottom: 2px solid #d2691e;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
h1 {
    font-size: 24px;
    color: #b22222;
}

.ticketbody {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.ticketbody p {
    margin: 5px 0;
}

.ticketfooter {
    text-align: center;
    border-top: 2px solid #d2691e;
    padding-top: 10px;
}

.ticketfooter p {
    margin: 5px 0;
}

